@use '../../scss/abstracts/' as *;

.box {
    padding: 20px 30px;
    margin-right: 19px;
    border-radius: $borderRadius;
    background-color: $mainBg;
    box-shadow: rgba(149, 157, 165, 0.6) 0px 8px 24px;
    transition: all ease 200ms;

    &-purple {
        background-color: $purple;
        color: $white;
    }

    .box:hover{
        transform: scale(1.03);
        box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
    }

    &-fullheight {
        height: calc(100% - $spacing);

        @include tablet {
            height: calc(100% - $mobileSpacing);
        }
    }
}